.div__general {
  display: flex;
}

.navbar {
  width: 100%;
  background-color: #04276c;
  color: white;
  position: fixed;
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  flex: grid;
  z-index: 2;
}

.navbar__info {
  width: 80%;
  display: flex;
}

.navbar__title {
  font-size: medium;
}

.navbar__vuelos {
  background-color: #000000;
}

.navbar__prices {
  background-color: #487fed;
}

.navbar__hours {
  background-color: #95b5f7;
}

.flights__map {
  display: flex;
  padding-bottom: 2.5rem;
  margin-top: calc(
    9rem + 60px
  ); /* Agrega un margen superior igual a la altura de la navbar */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
  position: relative;
}

.flights__card {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
  flex-basis: 25%;
  text-align: center;
  margin: 1rem;
  background-color: #fff;
}

.flights__modal {
  position: fixed;
  /* display: none; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  min-width: 300px;
  min-height: 380px;
  border-radius: 20px;
}
.container__modal {
  width: 100%;
  height: 100vh;
  position: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal__button {
  padding: 10px;
  background-color: white;
}

.modal__btn {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  transition: all 300ms ease;
}

#modal-btn {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.modal__close:checked .flights__modal .container__modal {
  display: none;
}
#modal-btn:checked .flights__modal {
  display: flex;
}

@media screen and (max-width: 767px) {
  .flights__map {
    margin-top: calc(
      12rem + 60px
    ); /* Agrega un margen superior igual a la altura de la navbar */
  }
}
